@import "custom";

html, body {
  height: 100%;
}

.App {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 500px;
}

.header-image {
  background-color: lightblue;
  height: 128px;
  width: 128px;
  image-rendering: pixelated;
}

.chat {
  position: relative;
  width: 100%;
  height: calc(100% - 230px);
}

.chat-feed {
  position: absolute;
  top: 10px;
  bottom: 100px;
  left: 0;
  right: 0;
  padding: 2rem;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-bottom: 1px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.chat-message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
  background-color: lightblue;
}

.is-user {
  float: right;
  background-color: lightblue;
}

.sender-text {
  font-weight: bold;
}

.message-text, .sender-text {
  color: black;
}

.chat-input-container {
  position: absolute; 
  bottom: 10px;
  margin: auto;
  width: 100%;
  padding: 18px;
}

.chat-input {
  height: 60px;
  width: calc(100% - 32px);
}

.send-button {
  height: 60px;
  width: 60px;
}

/**/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

@include media-breakpoint-down(md) {
  .chat {
    height: calc(100% - 320px);
  }
}
